<h1>Add a task</h1>

<%= form_for [:task_list, @task] do |f| %>
  <% f.object.errors.each do |attr, msg| %>
    <div class="errors">
      <%= msg %>
    </div>
  <% end %>
  <ul class="form_list">
    <li>
      <%= f.label :description %>
    </li>
    <li>
      <%= f.text_field :description, autofocus: true %>
    </li>
    <li>
      <%= f.label :due_date %>
    </li>
    <li class="dropdown">
      <%= f.date_select :date, :start_year => Date.current.year %>
    </li>
    <li>
      <%= f.label :assigned_id %>
    </li>
    <li>
      <%= f.select :user, @users %>
    </li>
    <li>
      <div>
        <%= f.submit "Create Task", class: "button" %>
      </div>
    </li>
  </ul>
<% end %>