<%= form_for @task_list, html: {class: "add_task"} do |f| %>
    <div class="errors">
    </div>
  <ul class="form_list">
    <li>
      <%= f.label :name %>
    </li>
    <li>
      <%= f.text_field :name, autofocus: true, value: @task_list.name, class: "task_list_name" %>
    </li>
    <li>
      <div>
        <%= f.submit class: "button submit" %>
      </div>
    </li>
  </ul>
<% end %>
<%= link_to "Clear Form", url: "javascript:void(0)", class: "button clear" %>
