<%= form_for @task_list, url: "/task_lists/#{@task_list.id}", html: { class: "add_task"} do |f| %>
  <% f.object.errors.full_messages.each do |error| %>
    <div class="errors">
      <%= error %>
    </div>
  <% end %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, value: @task_list.name %>
  </div>
  <div>
    <%= f.submit "Update Task List" %>
  </div>
<% end %>