<h1 class="task_list">My Lists</h1>
<%= link_to "+ Add Task List", new_task_list_path, class: "add" %>
<%= link_to "View Tasks", user_tasks_path(session[:user_id]), class: "add" %>
<%= form_tag search_path, method: :get, class: "search" do %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search Tasks" %>
<% end %>
<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% else %>
  <div class="flash">ijijeifjenfeonfjenfjkenfkjenfkjenfek</div>
<% end %>
<% @task_lists.each do |task_list| %>
  <section>
    <h1><%= link_to task_list[:task_list].name, task_list_path(task_list[:task_list].id), class: "task_list" %></h1>
    <span class="open">
    <span class="fa fa-caret-right"></span>
    <span class="fa fa-caret-down"></span>
    </span>
      <div class="list_options">
      <%= link_to "Completed", task_list_completed_tasks_path(task_list[:task_list].id) %>
      <%= link_to "Delete", task_list_path(task_list[:task_list]), method: :delete %>

      <%= link_to "Edit", edit_task_list_path(task_list[:task_list].id) %>
      <%= link_to "Add Task", new_task_list_task_path(task_list[:task_list].id) %>
    </div>
    <div class="tasks">
    <ul>
      <% if task_list[:tasks].any? %>
        <% task_list[:tasks].each do |task| %>
          <li>
            <div class="task">
              <div class="task_name">
                <%= task.description + " (" + (task.date.mjd - Date.today.mjd).to_s + " days)" %> -
                <b><%= task.assigned_to %></b>
              </div>
              <%= link_to "Delete", task_list_task_path(task_list[:task_list].id, task.id), method: :delete, class: "delete" %>
              <%= form_for task, url: task_list_completed_tasks_path(task_list[:task_list].id), method: :post do |f| %>
                <%= f.hidden_field :id %>
                <%= f.submit "Complete", class: "delete" %>
              <% end %>
            </div>
          </li>
        <% end %>
      <% else %>
        <li>
          <div class="task_blank">
            <span>Nothing here to see!</span>
          </div>
        </li>
      <% end %>
    </ul>
      </div>
  </section>
<% end %>